/*-----------------prerequisites-----------------*/
@import url(http://fonts.googleapis.com/css?family=Pacifico|Righteous);
body {
  font-family: sans-serif;
  margin: 0 auto;
  font-size: 16px; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block; }

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: inline-block; }

#button {
  font-size: 1.01em;
  font-weight: bold; }

* {
  transition: all 0.5s ease-in-out 0; }

body {
  padding: 50px 0 0;
  background: #ffede6; }

/*-----------------main styling-----------------*/
.section-colored {
  background: #fc9162; }

.page-wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center; }

section {
  position: relative;
  display: block;
  width: 100%;
  color: #2d2d2d; }

#preload1 {
  background: url("keisha.png"); }

#preload2 {
  background: url("elizabeth.png"); }

#preload3 {
  background: url("kiara.png"); }

#preload4 {
  background: url("rasheika.png"); }

.italic {
  font-style: italic; }

.float-l-temp {
  float: left; }

.float-r-temp {
  float: right; }

.clear {
  clear: both; }

.align-left-temp {
  text-align: left; }

.breaker {
  display: block;
  width: 100%; }

/*-----------------header styling-----------------*/
#header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 40px;
  background: #fc9162;
  border-bottom: 4px solid #a90000; }

#logo-title {
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  margin-left: 4em; }
#logo-title #logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 30px;
  background: url("logo - head.svg") no-repeat;
  background-size: 90%;
  background-position: center;
  fill: #fc9162; }
#logo-title #title {
  position: absolute;
  top: 0px;
  left: 1.1em;
  font-size: 2em;
  color: #a90000;
  font-family: "Righteous", sans-serif; }

#nav {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  margin-right: 4em; }

#nav-slider {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 6.4em;
  height: 100%;
  background: #a90000;
  transition: all 0.2s ease-in-out 0; }

.nav-li {
  border-left: 4px solid #a90000; }
.nav-li:last-child {
  border-right: 4px solid #a90000; }
.nav-li a {
  height: 100%;
  padding: 14px 0;
  width: 8em;
  text-align: center;
  color: #a90000;
  font-size: .8em;
  transition: all 0.1s ease-in-out 0; }

.hovered {
  color: #ffd1bd !important;
  background: #a90000 !important; }

/*-----------------main content styling-----------------*/
.sec-pad-even {
  padding: 10em 0; }

.sec-pad-favor-top {
  padding: 10em 0 0em; }

.sec-pad-favor-bot {
  padding: 0em 0 10em; }

.social-icon {
  width: 40px;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px; }

.connect {
  display: block;
  margin: 6em auto 0;
  font-weight: bold; }
.connect img {
  vertical-align: bottom;
  -webkit-transform: translate(0, 0.9em);
  -moz-transform: translate(0, 0.9em);
  -ms-transform: translate(0, 0.9em);
  -webkit-transform: translate(0, 0.9em);
  transform: translate(0, 0.9em); }

/*portfolio styles*/
.portfolio-img {
  max-width: 10em;
  margin: 0 .2em; }

/*image border radius styles*/
.img-rounded-corner {
  -webkit-border-radius: 16px 16px 16px 16px;
  -moz-border-radius: 16px 16px 16px 16px;
  -ms-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border-radius: 16px 16px 16px 16px; }

.img-rounded {
  -webkit-border-radius: 100% 100% 100% 100%;
  -moz-border-radius: 100% 100% 100% 100%;
  -ms-border-radius: 100% 100% 100% 100%;
  -webkit-border-radius: 100% 100% 100% 100%;
  border-radius: 100% 100% 100% 100%; }

/*button style*/
#button {
  transition: all 0.2s ease-in-out 0;
  border: none;
  display: inline-block;
  margin: 6em auto;
  background: #fc9162;
  color: #a90000;
  padding: .85em 1.5em;
  -webkit-border-radius: 8px 8px 8px 8px;
  -moz-border-radius: 8px 8px 8px 8px;
  -ms-border-radius: 8px 8px 8px 8px;
  -webkit-border-radius: 8px 8px 8px 8px;
  border-radius: 8px 8px 8px 8px; }

/*paragaph styles*/
.text-type1 {
  text-align: left;
  margin: 0 2em;
  max-width: 21em;
  font-weight: 600;
  display: inline-block; }

.text-type2 {
  text-align: left;
  padding: 5em 0 0;
  margin: 0 auto;
  max-width: 60em;
  font-weight: 600; }

/*profile image styling for bio and testimonials*/
.profile-img {
  width: 10em;
  margin: 0 .2em; }

/*section padding*/
/*testimonial wrapper*/
#testimonial-wrapper {
  height: auto;
  padding: .2em 0;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0); }

.front-page-testimonial {
  display: inline-block;
  transition: all 0.2s ease-in-out 0; }

.testimonial-bubble {
  text-align: left;
  margin: 1.5em .5em 0;
  width: 90%;
  max-width: 43%;
  padding: 1em 1em .5em;
  font-weight: 600;
  -webkit-border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  -ms-border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
  display: inline-block; }
.testimonial-bubble:nth-of-type(4n+1), .testimonial-bubble:nth-of-type(4n+4) {
  background: #ffd1bd; }
.testimonial-bubble:last-child {
  margin: 1.5em .5em 1.5; }

#spinner:after {
  display: none;
  content: "";
  position: absolute;
  top: 20%;
  left: 47%;
  width: 4em;
  height: 4em;
  -webkit-border-radius: 100% 100% 100% 100%;
  -moz-border-radius: 100% 100% 100% 100%;
  -ms-border-radius: 100% 100% 100% 100%;
  -webkit-border-radius: 100% 100% 100% 100%;
  border-radius: 100% 100% 100% 100%;
  border: 6px solid black;
  border-color: transparent black transparent black; }

.sign {
  color: #a90000;
  font-style: italic;
  font-size: 1.2em;
  line-height: 2em; }

/*testimonial tracker and nodes*/
#testimonial-tracker {
  margin: 2em auto 0;
  width: 8em; }

.node {
  width: 1em;
  height: 1em;
  margin: 0 .5em;
  background: #fc9162;
  -webkit-border-radius: 100% 100% 100% 100%;
  -moz-border-radius: 100% 100% 100% 100%;
  -ms-border-radius: 100% 100% 100% 100%;
  -webkit-border-radius: 100% 100% 100% 100%;
  border-radius: 100% 100% 100% 100%;
  cursor: pointer; }

.selected {
  background: #a90000; }

/*testimonial page*/
.banner {
  margin-top: 1.5em;
  text-align: left; }

.banner-font {
  font-size: 2.2em;
  font-weight: bold;
  display: inline-block;
  color: #a90000;
  padding: .5em 0em; }

.banner-button {
  color: #a90000;
  border-left: 4px solid #a90000;
  border-right: 4px solid #a90000;
  padding: 2.4em 1em; }

/*portfolio page*/
.align-left {
  text-align: left;
  padding: 2em 0; }

#back-btn {
  background: #fc9162;
  color: #a90000;
  display: inline-block;
  padding: 1em;
  font-weight: bold;
  border: 4px solid #a90000;
  -webkit-border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  -ms-border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
  opacity: .5; }

.portfolio-wrapper {
  height: 6em;
  overflow: hidden;
  border: 6px solid #fc9162;
  -webkit-border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  -ms-border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em; }

.cat-wrapper {
  position: relative;
  display: inline-block;
  width: 20em;
  height: 20em;
  overflow: hidden;
  border: 6px solid #fc9162;
  -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -ms-border-radius: 0.5em 0.5em 0.5em 0.5em;
  -webkit-border-radius: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  margin: 2em; }

.cat-wrapper:after {
  transition: all 0.4s ease-in-out 0;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
  opacity: 0; }

.cat-img {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  max-width: 100%; }

.cat-title {
  z-index: 1;
  position: absolute;
  color: #ffd1bd;
  font-size: 2em;
  bottom: -3em;
  left: 50%;
  width: 100%;
  padding: .2em 0;
  background: #a90000;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0); }

/*lightbox*/
#lightbox {
  background: transparent;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0; }

#background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

#imageDisplay {
  position: absolute;
  top: 42%;
  left: 50%;
  width: 80%;
  height: 75%;
  -webkit-transform: translate(-50%, -45%);
  -moz-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  -webkit-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  pointer-events: none; }
#imageDisplay img {
  border-radius: 1em;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 0 6px #fc9162;
  pointer-events: auto; }

#close {
  position: absolute;
  cursor: pointer;
  top: 2em;
  right: 2em;
  padding: .6em .8em .5em;
  font-size: 1.5em;
  box-shadow: 0 0 0 4px #fc9162;
  color: #a90000;
  -webkit-border-radius: 100% 100% 100% 100%;
  -moz-border-radius: 100% 100% 100% 100%;
  -ms-border-radius: 100% 100% 100% 100%;
  -webkit-border-radius: 100% 100% 100% 100%;
  border-radius: 100% 100% 100% 100%;
  background: #ffede6; }

#prev {
  position: fixed;
  bottom: 2em;
  left: 0em;
  content: "";
  width: 6em;
  height: 4em;
  box-shadow: inset 0 0 0 4px #fc9162;
  -webkit-border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  -ms-border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
  -webkit-transform: translate(0, -52%);
  -moz-transform: translate(0, -52%);
  -ms-transform: translate(0, -52%);
  -webkit-transform: translate(0, -52%);
  transform: translate(0, -52%);
  background: #ffede6;
  cursor: pointer; }

#prev:after {
  position: absolute;
  display: block;
  top: .9em;
  left: .6em;
  content: "";
  border: 1.2em solid transparent;
  border-right: 2em solid #fc9162; }

#next {
  position: fixed;
  bottom: 2em;
  right: 0em;
  content: "";
  width: 6em;
  height: 4em;
  box-shadow: inset 0 0 0 4px #fc9162;
  -webkit-border-radius: 1em 1em 1em 1em;
  -moz-border-radius: 1em 1em 1em 1em;
  -ms-border-radius: 1em 1em 1em 1em;
  -webkit-border-radius: 1em 1em 1em 1em;
  border-radius: 1em 1em 1em 1em;
  -webkit-transform: translate(0, -52%);
  -moz-transform: translate(0, -52%);
  -ms-transform: translate(0, -52%);
  -webkit-transform: translate(0, -52%);
  transform: translate(0, -52%);
  background: #ffede6;
  cursor: pointer; }

#next:after {
  position: absolute;
  display: block;
  top: .9em;
  right: .6em;
  content: "";
  border: 1.2em solid transparent;
  border-left: 2em solid #fc9162; }

/*contact*/
input, textarea, label {
  background: white;
  font-size: 1.1em;
  border: none;
  display: block;
  margin: 1em auto;
  width: 90%;
  max-width: 26em;
  padding: .5em;
  border-radius: 5px;
  box-shadow: 0 0 0 2px #ffd1bd; }

label {
  text-align: left;
  margin: 1.5em auto 0;
  width: 90%;
  background: transparent;
  padding: 0;
  box-shadow: none; }

form label[for="msg"], form label[for="testi"] {
  display: inline-block;
  margin: 0;
  width: auto;
  text-align: left; }

input[type=radio] {
  display: inline-block;
  width: auto;
  padding: .8em;
  margin: .2em 0 -.5em;
  margin-right: 9.5%;
  -webkit-border-radius: 100% 100% 100% 100%;
  -moz-border-radius: 100% 100% 100% 100%;
  -ms-border-radius: 100% 100% 100% 100%;
  -webkit-border-radius: 100% 100% 100% 100%;
  border-radius: 100% 100% 100% 100%;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; }

input[type=radio]:checked {
  box-shadow: 0 0 0 2px #ffd1bd, inset 0 0 0 4px white;
  background: #a90000; }

textarea {
  transition: all 0s ease-in-out 0; }

.submit {
  margin: 0 !important; }

.invalid {
  box-shadow: 0 0 0 2px red; }

#textLength {
  text-align: right;
  width: 40%;
  margin: 0 auto;
  display: block; }

/*-----------------footer-----------------*/
footer {
  background: #fc9162;
  padding: 4em 0 .5em;
  margin: 1em 0 0; }

/*-----------------hover events-----------------*/
.nav-li a:hover {
  color: #ffd1bd;
  background: #a90000;
  transition: all 0.4s ease-in-out 0; }

#button:hover, .banner-button:hover, #back-btn:hover {
  background: #a90000;
  color: #ffd1bd; }

.cat-wrapper:hover {
  border-color: #a90000; }

.cat-wrapper:hover:after {
  opacity: .5; }

.cat-wrapper:hover .cat-title {
  bottom: 0; }

/*-----------------media quiries-----------------*/
/*-----------------squished media quiry-----------------*/
@media screen and (max-width: 930px) {
  .portfolio-img {
    max-width: 12em;
    margin: 0 1em; }

  .text-type1 {
    margin: 0 auto;
    padding: 0 0 6em;
    max-width: 40em;
    display: block; }

  .text-type2 {
    margin: 0 auto;
    padding: 5em 0 0;
    max-width: 40em;
    display: block;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }

  #testimonial-wrapper {
    position: relative;
    height: auto;
    padding: .2em 0; }

  #spinner:after {
    position: fixed;
    top: 50%; }

  .front-page-testimonial {
    display: inline-block; }

  #testimonial-tracker {
    margin: 4em auto 0;
    width: 8.9em; }

  .node {
    width: 1.2em;
    height: 1.2em;
    border-radius: 100% 100% 100% 100%; }

  .cat-wrapper {
    max-width: 40%; }

  /*portfolio page*/
  #close {
    right: 4em; } }
/*-----------------squished media quiry-----------------*/
@media screen and (max-width: 790px) {
  .float-l-temp {
    float: none; }

  .float-r-temp {
    float: none; }

  .align-left-temp {
    text-align: center; }

  /*header*/
  #mo-nav {
    z-index: 3;
    position: fixed;
    right: 2em;
    top: .1em;
    width: 1.8em;
    height: 1.8em;
    border-radius: 10px;
    box-shadow: inset 0 0.4em 0 0 #fc9162, inset 0 0.7em 0 0 #a90000, inset 0 1.1em 0 0 #fc9162, inset 0 1.4em 0 0 #a90000, inset 0 2.7em 0 0 #fc9162, 0 0 0 0.1em #fc9162;
    border: 0.6em solid #a90000;
    background: #a90000; }

  #nav {
    position: fixed;
    top: 2.7em;
    width: 100%;
    height: 0;
    /*auto on show*/
    overflow-y: hidden;
    margin-right: 0em;
    border-top: 4px solid #a90000;
    border-bottom: 4px solid #a90000; }

  #nav-slider {
    display: none; }

  .nav-li {
    border: none;
    display: block; }

  .nav-li:last-child {
    border: none; }

  .nav-li a {
    width: 100%;
    font-size: 1em;
    background: #fc9162;
    transition: all 0.2s ease-in-out 0; }

  .nav-li a.hovered {
    color: #ffd1bd; }

  .nav-li a:active {
    background: #a90000; }

  /*body content*/
  .portfolio-img {
    max-width: 25%;
    margin: 0em; }

  .text-type1 {
    max-width: 84%; }

  .text-type2 {
    max-width: 84%; }

  .testimonial-bubble {
    max-width: 90%; }

  .testimonial-bubble:nth-of-type(4n+1), .testimonial-bubble:nth-of-type(4n+4) {
    background: transparent; }

  .testimonial-bubble:nth-of-type(2n+1) {
    background: #ffd1bd; }

  .banner {
    text-align: center; }

  .banner-font {
    display: block; }

  .banner-button {
    border: 4px solid #a90000;
    padding: 1.4em 1em;
    -webkit-border-radius: 20px 20px 20px 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -ms-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    position: static;
    margin-bottom: 2em; }

  /*portfolio*/
  .cat-wrapper {
    width: 37%;
    height: 35vw;
    margin: 1.5em;
    display: inline-block; }

  .cat-title {
    bottom: 0;
    background: #fc9162; }

  #imageDisplay {
    height: 60%; }

  #prev, #next {
    bottom: -1em; }

  #close {
    top: 0.2em;
    right: 0.2em; } }
/*-----------------squished media quiry-----------------*/
@media screen and (max-width: 490px) {
  .cat-wrapper {
    width: 100%;
    max-width: 90%;
    height: 80vw;
    margin: 1.5em auto;
    display: block; } }
#spinner:after {
  /*moz Formal syntax: <single-animation-name> || <time> || <timing-function> || <time> || <single-animation-iteration-count> || <single-animation-direction> || <single-animation-fill-mode> || <single-animation-play-state>*/
  -moz-animation: spinner 0.3s linear 0s infinite normal running;
  /*webkit*/
  -webkit-animation: spinner 0.3s linear 0s infinite normal running;
  /*standard*/
  animation: spinner 0.3s linear 0s infinite normal running; }

/*-----------------animation-----------------*/
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */
